
Python/Lotto Linter/data/mm2022.csv
Python/Lotto Linter/data/pb2022.csv
Python/YuseVideoEditor/part.dat
Python/Lotto Linter/data/mm2024.csv
Python/Lotto Linter/data/pb2024.csv
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Portfolio.iml
.idea/vcs.xml
